# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environment
venv/
env/
*.env

# IDE
.vscode/
.idea/

# Compiled files
*.pyc
*.pyo
*.pyd

# Logs
*.log

# Build files
build/
dist/
*.egg-info/
*.egg

# Dependency directories
lib/
lib64/